
.idea/AdventOfCode2022.iml
.idea/AdventOfCode2022.iml
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml
.idea/vcs.xml
Day7/input.txt
Day7/solution.py
Day7/test.txt
Day9/input.txt
Day9/solution.py
Day9/solutionHold.py
Day9/test.py
Day9/test.txt
